<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>

</head>

<body>


<body class="d-flex flex-column min-vh-100">
    <div class="container">
  <h1> G-lens Tester</h1>
  <br/>
<br/>
<br/>
  <h2>Quick reference</h2>
<p>Please indicate the epi id, the IPS and the lens to use to get a focused version of the ePI.</p>


    <form action="/focused" method="post">
        <label for="epi">ePI ID</label><br>
        <select id="epi" name="epi">

            <!-- Options will be filled by JavaScript -->
        </select><br>
        <label for="ips">Choose IPS Identifier</label><br>
        <select id="ips" name="ips">
            <option value="alicia-1">alicia-1</option>
            <option value="Cecilia-1">Cecilia-1</option>
            <option value="helen-1">helen-1</option>
            <option value="maria-1">maria-1</option>
            <option value="ips-2">ips-2</option>
            <option value="Matilda-1">Matilda-1</option>
            <option value="Pedro-1">Pedro-1</option>
            <option value="0101010101">0101010101</option>

        </select><br>
       
        <label for="lenses">Lenses</label><br>
        <select id="lenses" name="lenses">
            <option value="">All</option>

            <!-- Options will be filled by JavaScript -->
        </select>
        <!-- Other form elements -->
     
        <input type="submit" value="Submit">
      </form>

    </div>
    </body>

    <script>document.addEventListener('DOMContentLoaded', function() {
        fetch('https://fosps.gravitatehealth.eu/focusing/lenses')
            .then(response => response.json()) // assuming the response is in JSON format
            .then(data => {
                const dropdown = document.getElementById('lenses');
                data["lenses"].forEach(item => {
                    const option = document.createElement('option');
                    option.value = item; // Adjust depending on your data structure
                    option.textContent = item; // Adjust depending on your data structure
                    dropdown.appendChild(option);
                });
            })
            .catch(error => console.error('Error:', error));
    });</script>
    <script>document.addEventListener('DOMContentLoaded', function() {
        fetch('/get_all_bundles_with_preproc')
            .then(response => response.json()) // assuming the response is in JSON format
            .then(data => {
                const dropdown = document.getElementById('epi');
                data.forEach(item => {
                    const option = document.createElement('option');
                    option.value = item.id; // Adjust depending on your data structure
                    option.textContent = item.id; // Adjust depending on your data structure
                    dropdown.appendChild(option);
                });
            })
            .catch(error => console.error('Error:', error));
    });</script>


</html>