<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
        <style>
            .highlight {
              background-color: yellow;
              color: black;
          }
          .collapsed {
              background-color: lightgray;
              color: grey;
          }
          .column {
  float: left; /* This makes the column float to the left */
  width: 50%; /* Adjust the width as necessary */
}

          </style>
</head>

<body>
    <div class="container">
    {% if result %}
    <div class="container">
     
            <form action="/focused" method="post">

                <select id="ips" name="ips" style="display:None;">
                    <option value="{{identifier}}"></option selected>
                    </select>
                    <select id="code" name="code" style="display:None;">
                        <option value="{{code}}"></option selected>
                        </select>

            <label for="lenses">Lenses</label><br>
            <select id="lenses" name="lenses" multiple>
                <option value="">All</option>
    
                <!-- Options will be filled by JavaScript -->
            </select>
            <!-- Other form elements -->
         
            <input type="submit" value="Submit">
          </form>

      </div>
<hr>

    <h2>{{result.title}}</h2>

{% for divs in result.div %}
<h3> {{divs[0] | safe}} </h3>
<hr>

<div>{{divs[1] | safe}}</div>
<hr>

{% endfor %}
{% else %}
<h2> Error getting ePI</h2>
{% endif %}
</div>
    </body>

  <script>document.addEventListener('DOMContentLoaded', function() {
        fetch('https://fosps.gravitatehealth.eu/focusing/lenses')
            .then(response => response.json()) // assuming the response is in JSON format
            .then(data => {
                const dropdown = document.getElementById('lenses');
                data["lenses"].forEach(item => {
                    const option = document.createElement('option');
                    option.value = item; // Adjust depending on your data structure
                    option.textContent = item; // Adjust depending on your data structure
                    dropdown.appendChild(option);
                });
            })
            .catch(error => console.error('Error:', error));
    });</script>


</html>